.cookie-display {
    position: relative;
    display: flex;

    padding: 30px;
}

img {
    height: 50vh;
    width: auto;
}

.info {
    position: relative;
    padding: 30px;

    justify-items: center;
}


.shop-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    height: 50vh;
}

#shopWindow {
    display: flex;
    justify-items: center;
}

.shop-window div {
    padding: 10px;
}


#resetAndBank {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 400px;
    gap: 40px;
    padding: 50px;
    text-align: center;

}

.bank-group {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    gap: 10px;
    width: 90px;
    padding: 30px;
}

.reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 10px;
}











/* @media (width < 425.1px) {

    img {
        display: flex;
        width: auto;
        height: 40vh;
    }

    .cookie-display {
        display: flex;

    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .shop-window {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        width: 10px;
    }

} */



