* {
    margin: 0;
    padding: 0;

}

.upgrades {
    display: flex;
    position: relative;
    display: flex;
    height: 100vh;
}


img {
    display: flex;
    height: 40vh;
    width: auto;
    padding: 30px;
/* 
    transform: scale(1.5); */
}

img:hover {
    cursor: crosshair;
}

.counter {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-right: 50px;
}

.shop-window {

    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    position: relative;

    background-color: rgb(169, 126, 107);
}

.shop-window div  {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}

.shop-window button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 50px;
    font-size: 10px;
    background-color: transparent;
    border-style: solid;
    cursor: pointer;

}

.shop-window button:hover {
    background-color: bisque;
}

.shop-window p {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.options-container {
    display: flex;

    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(104, 42, 35);
}

.options-container {
    align-items: center;
    justify-content: space-evenly;
}


.reset-btn {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-width: 0;
    cursor: pointer;
}


.bank-group {

    font-size: 20px;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        color: bisque;
        align-items: center;

}

.bank-btn {
    height: 100px;
    width: 100px;
}

.bank-btn:hover {
    background-color: brown;
    color: bisque;
    cursor: pointer;
}





/* @media (width < 425.1px) {

    img {
        display: flex;
        width: auto;
        height: 40vh;
    }

    .cookie-display {
        display: flex;

    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .shop-window {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        width: 10px;
    }

} */



