* {
    margin: 0;
    padding: 0;

}

.upgrades {
    position: relative;
    display: flex;
    height: 100vh;
}


img {
    display: flex;
    height: 40vh;
    width: auto;
    padding: 50px;
/* 
    transform: scale(1.5); */
}

img:hover {
    cursor: crosshair;
}

.info {
    position: relative;
    top: 80px;
    height: 100px;
    right: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



.shop-window {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;

    background-color: rgb(169, 126, 107);
}

.shop-window div  {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.shop-window div p {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}


.shop-window button {
    padding: 20px;

    width: 90px;
    font-size: 10px;

}

.shop-window p {
    font-size: 10px;
    padding: 3px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.options-container {
    width: 100vw;
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: rgb(104, 42, 35);
}

.reset-btn {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-width: 0;
    cursor: pointer;
}

.bank-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}


.bank-btn {
    padding: 20px;
    font-size: 12px;

}

.bank-btn:hover {
    background-color: brown;
    color: bisque;
    cursor: pointer;
}








/* @media (width < 425.1px) {

    img {
        display: flex;
        width: auto;
        height: 40vh;
    }

    .cookie-display {
        display: flex;

    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .shop-window {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        width: 10px;
    }

} */



